{% extends 'base.html' %}


{% block body  %} 
<div class="box">
  <div class="answer"><input type="text"  size="18" id="result_div"></div>
  <div class="answer">
    <input type="text" name="exp" size="16" id="exp">
  </div>
  <div>
    <button class="button" id="submit" onclick="submit_entry();">Submit </button>
  </div>
  </div>
{% endblock %}

{% block script %}

<script>
  function submit_entry() 
  {
    var exp=document.getElementById("exp").value;
    
    var entry ={
      exp:exp
    }

    fetch('/result',{
      method:'POST',
      body:JSON.stringify(entry),
    })
    .then(response => response.json())
    .then( entry => {
      document.getElementById("result_div").value=entry.result;
      console.log('success',entry);
    })
    .catch((error)=>{
      console.error('error',error);
    });
  }
</script>

{% endblock %}